body{margin:0px; font-family: Arial, Helvetica, sans-serif;}
::-webkit-scrollbar{
    display: none;
}
section{ padding:50px 0px 50px 0px; width:100vw; border: 1px solid #CCC; position: relative; background-color:#EEE;}
section.components{height:auto;}
.section-name{padding:10px; background:orange; display: inline-block; position: absolute; top: 0px; display: none; color: white;}
section:hover > .section-name {display: inline-block;}

.grid-960{width: 960px; height: 100vh; position: fixed; top: 0px; background-color: rgba(0,0,0,0.1); pointer-events: none;
    left: 50%; margin-left:-480px; border-left: 1px dashed red; border-right: 1px dashed red; display: none;}
.grid-1200{width: 1200px; height: 100vh; position: fixed; top: 0px; background-color: rgba(20,10,100,0.1); pointer-events: none;
    left: 50%; margin-left:-600px; border-left: 1px dashed red; border-right: 1px dashed red; display: none;}
.tools{width:280px; background-color: orange; color: white; padding: 10px;
    position: fixed; top: 0px; right: 0px; }
.tool-btn{padding:5px 5px; display: inline-block; background-color: white;
    border: 0px; margin:3px; cursor: pointer; border-radius: 1px;}
#toolList{width: 70%; margin: 0px 5px; height: 25px;}
    
    
.st-container{padding:0px 15px; margin-left: auto; margin-right: auto; width: 100%; max-width: 960px; box-sizing: border-box;}
.st-row{display: inline-block; width: 100%;}
.st-col{padding: 15px; min-height: 1px; position: relative; }
.st-mob-1{width: 8.3333%; float:left; min-height:1px; }
.st-mob-2{width: 16.6667%; float:left; min-height:1px; }
.st-mob-3{width: 25%; float:left; min-height:1px; }
.st-mob-4{width: 33.3333%; float:left; min-height:1px; }
.st-mob-5{width: 41.6667%; float:left; min-height:1px; }
.st-mob-6{width: 50%; float:left; min-height:1px; }
.st-mob-7{width: 58.3333%; float:left; min-height:1px; }
.st-mob-8{width: 66.6667%; float:left; min-height:1px; }
.st-mob-9{width: 75%; float:left; min-height:1px; }
.st-mob-10{width: 83.3333%; float:left; min-height:1px; }
.st-mob-11{width: 91.6667%; float:left; min-height:1px; }
.st-mob-12{width: 100%; float:left; min-height:1px; }
@media (min-width:640px) {
    .st-tab-1{width: 8.3333%; float:left; min-height:1px; }
    .st-tab-2{width: 16.6667%; float:left; min-height:1px; }
    .st-tab-3{width: 25%; float:left; min-height:1px; }
    .st-tab-4{width: 33.3333%; float:left; min-height:1px; }
    .st-tab-5{width: 41.6667%; float:left; min-height:1px; }
    .st-tab-6{width: 50%; float:left; min-height:1px; }
    .st-tab-7{width: 58.3333%; float:left; min-height:1px; }
    .st-tab-8{width: 66.6667%; float:left; min-height:1px; }
    .st-tab-9{width: 75%; float:left; min-height:1px; }
    .st-tab-10{width: 83.3333%; float:left; min-height:1px; }
    .st-tab-11{width: 91.6667%; float:left; min-height:1px; }
    .st-tab-12{width: 100%; float:left; min-height:1px; }
}
@media (min-width:960px){
    .st-des-1{width: 8.3333%; float:left; min-height:1px; }
    .st-des-2{width: 16.6667%; float:left; min-height:1px; }
    .st-des-3{width: 25%; float:left; min-height:1px; }
    .st-des-4{width: 33.3333%; float:left; min-height:1px; }
    .st-des-5{width: 41.6667%; float:left; min-height:1px; }
    .st-des-6{width: 50%; float:left; min-height:1px; }
    .st-des-7{width: 58.3333%; float:left; min-height:1px; }
    .st-des-8{width: 66.6667%; float:left; min-height:1px; }
    .st-des-9{width: 75%; float:left; min-height:1px; }
    .st-des-10{width: 83.3333%; float:left; min-height:1px; }
    .st-des-11{width: 91.6667%; float:left; min-height:1px; }
    .st-des-12{width: 100%; float:left; min-height:1px; }
}

.card{width: 100%;display: flex; justify-content: flex-start; position: relative; background-color: white;}
.card-left{width: calc(50% - 1px); border-right: 1px solid #CCC; position: relative; float: left;}
.card-right{width: 50%; position: relative; float: left; background: white;}
.card-image{background-position: center; background-size: contain; background-repeat: no-repeat; min-height: 200px; min-width: 320px;}
.card-image>img{display: block; width: 100%; }
.card-detail{position: absolute; bottom: 0px; padding: 10px; background: white; box-sizing:border-box; width: 100%; border-top: 1px solid #CCC;}
.card-detail>input[type="checkbox"]{display: inline-block; float: right; width: 0px; height: 0px; opacity: 0; margin: 0px; transition: height .3s;}
.card-detail>label{float: right; transform: rotate(90deg); cursor: pointer;}
.card-detail>label::before{content:'...'; font-weight: bold;}
.card-detail>input:checked{height: 100px;}
.card-detail>p{font-size:14px; color: #999; }
.card-detail>input~p{height: 0px;text-overflow: ellipsis; white-space: pre-wrap; width: auto; overflow:hidden; margin:0px; transition: all .3s;}
.card-detail>input:checked~p{height: 64px; margin:10px 0px;}
.card-panel{padding: 10px; box-sizing: border-box; background: white; font-size: 14px;}
.card-panel table tr>td:last-of-type{color: #999;}
.card-panel table td{line-height: 18px;}
@media (max-width:640px){
    .card{flex-flow: wrap;}
    .card-left{width: 100%; border: 0px;}
    .card-right{width: 100%; border-top: 1px solid #CCC;}
}
