<div class="tip">
    <div class="tip-panel tip-book">
        <h1>4</h1>
        <span>Policies</span>
    </div>
    <div class="tip-action">
        <table>
            <tbody>
                <tr>
                    <td>Pending Start</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Ongoing</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Finished</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>