<div class="admin-sidemenu">
    <div>
        <span>Providers</span>
        <button class="st-btn st-btn-xs float-right">Add</button>
    </div>
    <hr>
    <ul>
        <li class="active">AIA</li>
        <li>AXA</li>
        <li>FWD</li>
        <li>Bupa</li>
        <li>China Ping An Insurance (Hong Kong) Company Limited</li>
        <li>HSBC</li>
        <li>CIGNA</li>
        <li>AVIVA</li>
        <li>Great Eastern</li>
        <li>HSBC</li>
        <li>CIGNA</li>
        <li>AVIVA</li>
        <li>Great Eastern</li>
    </ul>
</div>