<div class="st-card">
    <div class="st-card-panel st-mobile-12">
        <div class="st-card-image st-mobile-12 st-tab-6 st-des-4">
            <img src="http://placehold.it/400x300" alt="logo">
        </div>
        <div class="st-card-body st-mobile-12 st-tab-6 st-des-8">
            <div>Arba Holdings Limited</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam fugit voluptatibus facere voluptas explicabo ullam laborum, ea laudantium praesentium aliquid, tenetur excepturi atque nobis perferendis minima sequi iure hic sint.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt in ipsam repudiandae quod, velit laborum explicabo! Dolore laudantium voluptas neque voluptatem ipsa obcaecati sit doloremque quisquam veritatis consectetur numquam, nisi!</p>
            <table>
                <tbody>
                    <tr>
                        <td>Telephone</td>
                        <td>+852 2945 8273</td>
                    </tr>
                    <tr>
                        <td>Fax</td>
                        <td>+852 0237 2398</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Lorem ipsum dolor sit.</td>
                    </tr>
                    <tr>
                        <td>Postal Code</td>
                        <td>2346349</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="st-card-action">Edit</div>
    <div style="clear:both;"></div>
</div>