<table class="st-table">
    <thead>
        <th>#</th>
        <th>lorem1</th>
        <th>Id</th>
        <th>Provider</th>
    </thead>
    <tbody>
        <tr>
            <td>lorem2</td>
            <td>alskd lsjdflk</td>
            <td>sf fsd</td>
            <td>asdf dihohwer kduhfo ldjygt sdfo</td>
        </tr>
        <tr>
            <td>lorem2</td>
            <td>al sdf fg dflk</td>
            <td>sf fsd dfasd</td>
            <td>asdf dihod df hwer kduhfo ldjygt sdfo</td>
        </tr>
        <tr>
            <td>lor df em2</td>
            <td>sdfd lsjdflk</td>
            <td>sf fsd fsd</td>
            <td>asd ldjygt sdfo</td>
        </tr>
    </tbody>
</table>